#idol {
    .wrap-rank {
        height: 400px;
        overflow-y: auto;
        &::-webkit-scrollbar {
            width: 5px; /* width */
        }
        &::-webkit-scrollbar-track {
            background: $color-border; /* Track */
        }
        &::-webkit-scrollbar-thumb {
           background: $color-title; /* Handle */
        }
        &::-webkit-scrollbar-thumb:hover {
                background: black; /* Handle on hover */
            }
        .item-rank {
            padding: 5px 5px;
            margin-right: 0px;
            margin-left: 0px;
            align-items: center;
            border-top: 1px solid $color-title;
           
            .num-rank {
                padding-left: 0px;
                text-align: center;
                color: #404040;
                font-size: 23px;
                
            }
            .img-rank {
                padding-left: 0px;
                width: 43px;
                height: 55px;
                img {
                    max-height: 100%;                            
                }
            }
            .name-rank {
                padding-left: 0px;
                a {
                    font-size: 14px;
                    &:hover {
                        color: $color-title;
                    }
                }
            }
            .result-rank {
                padding: 0px;
            }
            .first {
                color: $color-title;
                font-weight: bold;
            }
            .second, .third {
                color: $color-text;
                font-weight: 600;
            }
        }
    }
}
#ranking {
    font-size: 14px;
    table {
        th {
            vertical-align: middle;
            padding: 5px 0px;
        }
        td {
            vertical-align: middle;
            
        }
        .num-rank {
            font-size: 20px;
            text-align: center;
            font-weight: bold;
        }
        .img-rank {
            
            img {
                height: 55px;
                max-height: 100%;                            
            }
        }
        .btn-bp {
            background-color: $color-title;
            color: $color-white;
        }
    }
}
#listidol {
    .listidol-search {
        align-items: center;
        padding: 10px;
        margin: 0px;
        border-radius: 5px;
        background: $color-title;
        .btn, button, input, .form-control {
            border: 1px solid $color-white;
            &:focus{
                outline: none !important;
                box-shadow: inset 0 0px 0 $color-title;
            }
        }
        .btn {
            color: $color-white ;
        }
        .btn-group {
            .btn, button {
                border: none;
                color: $color-white;
            }
        }
    }
    .listidol-idol {
        margin-top: 15px;
        margin-bottom: 15px;
        margin-right: 0px;
        margin-left: 0px;
        .item-idol-hover {
            margin-top: 15px;
            padding: 5px;
            -webkit-transition: -webkit-transform 0.5s;
            transition: transform 0.5s;
            &:hover {
                -webkit-transform: scale(1.11) rotate(0.01deg);
                transform: scale(1.11) rotate(0.01deg);
            }        
        }
        .item-idol {
            border: 1px solid $color-border-idol;
            background: $color-border-idol;
            padding: 2px 2px 5px 2px;
            img {
                max-width: 100%;
            }
            .box-idol {
                padding: 5px;
                text-align: center;
                .name-idol {
                    font-weight: 700;
                    font-size: 16px;
                    color: $color-text;
                    margin-top: 7px;
                }
                .group-idol {
                    font-weight: 500;
                    font-size: 15px;
                    color: $color-border;
                    margin-top: 7px;
                }
                .like-idol {
                    font-weight: 500;
                    font-size: 15px;
                    color: $color-title;
                    margin-top: 7px;
                }
            }
        }
    }
}
#detailidol {
    .idol-detail {
        .idol-profile {
            background: $color-border-idol;
            padding: 15px;
            .pro-header {
                position: relative;
                color: $color-text;
                h3 {
                    font-size: 22px;
                }
                .pro-question {
                    position: absolute;
                    top: 0px;
                    right: 0px;
                    cursor: pointer;
                }
            }
            .pro-box {
                .pro-list {
                    line-height: 27px;
                    font-size: 14px;
                    .pro-key {
                        display: inline-block;
                        min-width: 70px;
                        color: $color-border;
                        font-weight: 600;
                    }
                    .pro-value {
                        display: inline-block;
                        color: $color-text;
                        font-weight: 700;
                        padding-left: 10px;
                    }
                }
            }
        }
        .detail-top {
            position: relative;
            .detail-background {
                position: relative;
                z-index: 1;
                img {
                    width: 100%;
                }
                
            }
            .mo {
                position: absolute;
                z-index: 2;
                width: 100%;
                height: 100%;
                top: 0;
                background-color: rgba(0,0,0,.5);
            }
            .detail-img {
                position: absolute;
                z-index: 10;
                left: 50%; // canh giua
                top: 50%;
                transform: translate(-50%, -50%); //canh giua
                text-align: center;
                img {
                    border-radius: 5px;
                }
                .name {
                    font-size: 23px;
                    color: $color-white;
                }
                .agency {
                    font-size: 21px;
                    color: $color-border-idol;
                }
            }
            .detail-vote {
                position: absolute;
                z-index: 10;
                right: 0px;
                top: 10px;
                margin-right: 30px;
                a {
                    color: $color-white;
                    i {
                        font-size: 19px;
                    }
                }
                .btn-vote {
                    border: 2px solid $color-white;
                    border-radius: 30px;
                    padding: 0px 5px 3px 5px;
                    cursor: pointer;
                }
                .btn-voted {
                    border: 2px solid $color-title;
                    color: $color-title;
                    border-radius: 30px;
                    padding: 0px 5px 3px 5px;
                }
                .btn-voted-i {
                    i {
                        color: $color-title;
                    }
                }
            }
            .detail-tab {
                position: absolute;
                bottom: 0px;
                z-index: 10;
                width: 100%;
                height: 70px;
                align-items: center;
                .tab-bot {
                    display: inline-block;
                    width: 45%;
                    text-align: center;
                    color: $color-white;
                    font-size: 20px;
                }
            }
        }
        .detail-bottom {
            position: relative;
            margin: 15px 0px;
            .detail-item {
                padding: 0px;
                text-align: center;
                overflow: hidden;
                img {
                    width: 100%;
                }
            }
        }
    }
}

    .modal-header {
        .close {
            margin-top: -1.5rem;
        }
    }
        
    .social-buttons {
        .btn {
            margin: 0 0.5rem 1rem;
        }
    }


@media only screen and (max-width: 800px) {
    #ranking {
        table {
            .num-rank {
                text-align: left;
            }
        }
    }
    /* Force table to not be like tables anymore */
	#no-more-tables table, 
	#no-more-tables thead, 
	#no-more-tables tbody, 
	#no-more-tables th, 
	#no-more-tables td, 
	#no-more-tables tr { 
		display: block; 
	}
 
	/* Hide table headers (but not display: none;, for accessibility) */
	#no-more-tables thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
 
	#no-more-tables tr { border: 1px solid #ccc; }
 
	#no-more-tables td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 40%; 
		white-space: normal;
		text-align:left;
	}
 
	#no-more-tables td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
		text-align:left;
		font-weight: bold;
	}
 
	/*
	Label the data
	*/
	#no-more-tables td:before { content: attr(data-title); }
}