#idol {
    /* start Scroll Custom */
   
    // .wrap-rank::-webkit-scrollbar-thumb {
    //     background: black; /* Handle */
    // }
    // .wrap-rank::-webkit-scrollbar-thumb:hover {
    //     background: black; /* Handle on hover */
    // }
    .wrap-rank {
        height: 400px;
        overflow-y: auto;
        &::-webkit-scrollbar {
            width: 5px; /* width */
        }
        &::-webkit-scrollbar-track {
            background: $color-border; /* Track */
        }
        &::-webkit-scrollbar-thumb {
           background: $color-title; /* Handle */
        }
        &::-webkit-scrollbar-thumb:hover {
                background: black; /* Handle on hover */
            }
        .item-rank {
            padding: 5px 5px;
            margin-right: 0px;
            margin-left: 0px;
            align-items: center;
            border-top: 1px solid $color-title;
           
            .num-rank {
                padding-left: 0px;
                text-align: center;
                color: #404040;
                font-size: 23px;
                
            }
            .img-rank {
                padding-left: 0px;
                width: 43px;
                height: 55px;
                img {
                    max-height: 100%;                            
                }
            }
            .name-rank {
                padding-left: 0px;
                a {
                    font-size: 14px;
                    &:hover {
                        color: $color-title;
                    }
                }
            }
            .result-rank {
                padding: 0px;
            }
            .first {
                color: $color-title;
                font-weight: bold;
            }
            .second, .third {
                color: $color-text;
                font-weight: 600;
            }
        }
    }
}