$color-text: black;
$color-border: #808080;
$color-title: #d08182;
$color-more: #fe0000;
$color-white: white;
$color-btn: #f1a4a033;
$color-border-idol: #eee;
// body {
//     font-family: Arial, Helvetica, sans-serif;
// }
a {
    color: $color-text;
}
a:hover {
    color: $color-text;
    text-decoration: none;
}
@import 'nav';
@import 'home';
@import 'category';
@import 'post';
@import 'subscribe';
@import 'idol';

.header-wrapper {
    position: relative;
}
.goog-logo-link {
    display:none !important;
}   
.goog-te-gadget{
    color: transparent !important;
}
#google_translate_element {
    height: 10px;
    z-index: 9;
    float: right;
    margin-top: -28px;
    select {
        padding: 5px;
        border-radius: 0px;
        border: 1px solid $color-text;
        background: $color-text;
        color: $color-white;
    }
}

#menufixed {
    #google_translate_element {
        display: none;
    }
}

@media only screen and (max-width: 768px) {
    body {
        top: 0px !important;
    }
    #google_translate_element {
        position: fixed;
        bottom: 30px;
        left: 0px;
        z-index: 9;
    }
    .goog-te-banner-frame {
        height: 0px !important;
        z-index: 1 !important;
        border: none;
        // z-index: 1 !important;
        // display: none !important;
        // height: 0px !important;
    }
    .goog-te-banner {
        display: none !important;
    }
}