a {
  color: black;
}

a:hover {
  color: black;
  text-decoration: none;
}

.menu-open a {
  color: #fe0000;
  font-weight: bold;
}

.header-wrapper {
  border-bottom: 0px;
}
.header-wrapper .second-header {
  min-height: 40px;
  margin: 10px 0px 0px 0px;
}
.header-wrapper .main-header-menu {
  position: relative;
}
.header-wrapper .main-header-menu .header-logo {
  position: absolute;
  margin-top: 50px;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}
.header-wrapper .main-header-menu .header-logo .logo {
  width: 320px;
}
.header-wrapper .main-header-menu .header-logo .logo .slogan {
  font-weight: bold;
}
.header-wrapper .main-header-menu .header-logo .logo img {
  width: 100%;
}
.header-wrapper .main-header-menu .main-menu {
  position: relative;
  padding-bottom: 15px;
}
.header-wrapper .main-header-menu .main-menu .menu-list {
  list-style: none;
  padding-left: 0px;
}
.header-wrapper .main-header-menu .main-menu .menu-list .menu-item a {
  line-height: 22px;
  font-size: 14px;
  font-weight: bold;
}
.header-wrapper .main-header-menu .main-menu .menu-list-right {
  position: absolute;
  right: 0;
  top: 0;
  text-align: right;
}
.header-wrapper .two-header-menu {
  display: flex;
  align-items: center;
  position: relative;
}
.header-wrapper .two-header-menu .header-logo {
  padding-right: 10px;
  border-right: none;
}
.header-wrapper .two-header-menu .header-logo .logo img {
  height: 65px;
}
.header-wrapper .two-header-menu .main-menu .menu-list {
  list-style: none;
  margin-bottom: 0px;
  padding-left: 10px;
}
.header-wrapper .two-header-menu .main-menu .menu-list .menu-item {
  display: inline;
  padding: 0px 5px;
}
.header-wrapper .two-header-menu .main-menu .menu-list .menu-item a {
  line-height: 22px;
  font-size: 14px;
  font-weight: bold;
}

.second-header-left {
  float: left;
}
.second-header-left .social a {
  font-size: 18px;
  color: black;
  margin-right: 10px;
}

.second-header-right {
  float: right;
  display: flex;
  align-items: center;
}
.second-header-right .dropdown-item {
  padding: 0px 5px;
}
.second-header-right .dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0px;
}
.second-header-right .br-0 {
  border-right: none !important;
}
.second-header-right .right {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-weight: 600;
  font-size: 12px;
  color: black;
  border-right: 1px solid #808080;
  padding: 0 8px;
  z-index: 10;
}
.second-header-right .right:last-child {
  border-right: none !important;
  padding-right: 0px !important;
  margin-right: 0px !important;
}
.second-header-right .form {
  display: flex;
  align-items: center;
  display: none;
}
.second-header-right .form .input {
  width: 200px;
  margin-right: -5px;
}
.second-header-right .form .button {
  border: 0px;
  background: black;
  padding: 3px 5px;
  margin-right: 10px;
}
.second-header-right .form .button i {
  color: white;
}

#menufixed {
  position: -webkit-fixed;
  position: fixed;
  top: 0;
  background-color: white;
  border-bottom: none;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  left: 50%;
  transform: translateX(-50%);
}
#menufixed .slogan {
  display: none;
}
#menufixed .second-header-left {
  display: flex;
  align-items: center;
  float: left;
}
#menufixed .second-header-left .logo {
  padding-right: 10px;
  border-right: none;
}
#menufixed .second-header-left .logo img {
  height: 60px;
}
#menufixed .second-header-left .menu-list {
  list-style: none;
  margin-bottom: 0px;
  padding-left: 0px;
}
#menufixed .second-header-left .menu-list .menu-item {
  display: inline;
  padding: 5px;
  font-weight: 500;
}
#menufixed .second-header-left .menu-list .menu-item a {
  font-size: 13px;
}
#menufixed .second-header-right {
  right: 0px;
  position: absolute;
}
#menufixed .second-header-right .right:first-child {
  display: none;
}
#menufixed .second-header-right .right:last-child {
  display: none;
}
#menufixed .second-header-right .right:nth-child(2) {
  display: none;
}
#menufixed .second-header-right .br-0 {
  border-right: none;
  padding-right: 0px;
  padding-top: 3px;
}

.mobile {
  display: none;
}

.fixedmobile {
  opacity: 0;
}

.fixed {
  opacity: 1;
}

@media only screen and (max-width: 900px) {
  .fixedmobile {
    opacity: 1;
  }

  .fixed {
    opacity: 0;
  }

  .header-wrapper .second-header {
    min-height: 40px;
    margin-top: -30px;
  }
  .header-wrapper .two-header-menu {
    display: none;
  }

  .desktop .second-header {
    height: 0px;
  }
  .desktop .second-header .second-header-left {
    display: none;
  }
  .desktop .second-header #second-header-right {
    display: none;
  }
  .desktop .main-header-menu {
    display: none;
  }

  .mobile {
    display: block;
    position: relative;
    min-height: 50px;
  }
  .mobile .mobile-header {
    display: flex;
    align-items: center;
  }
  .mobile .mobile-header .mobile-logo img {
    height: 55px;
  }
  .mobile .mobile-header .layout-logo-two {
    margin-top: 0px;
  }
  .mobile .mobile-header .layout-logo-two img {
    width: 150px;
  }
  .mobile .mobile-header .mobile-right {
    display: flex;
    align-items: center;
    position: absolute;
    right: 1px;
  }
  .mobile .mobile-header .mobile-right .icon {
    font-size: 30px;
    cursor: pointer;
  }
  .mobile .mobile-header .mobile-right .subscribe {
    padding: 5px 20px;
  }

  #menufixed {
    width: 100%;
  }
  #menufixed .mobile-right {
    display: flex;
    align-items: center;
    position: absolute;
    right: 10px;
  }
  #menufixed .mobile-right .icon {
    font-size: 30px;
    cursor: pointer;
  }
  #menufixed .mobile-right .subscribe {
    padding: 5px 20px;
  }

  .mobile-full {
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    width: 100%;
    z-index: 100;
    background: white;
    min-height: 50px;
  }
  .mobile-full .mobile-header {
    margin: 10px;
  }
  .mobile-full .mobile-header .mobile-logo {
    float: left;
    margin-top: 0px;
  }
  .mobile-full .mobile-header .mobile-logo img {
    height: 55px;
  }
  .mobile-full .mobile-header .mobile-right {
    display: flex;
    align-items: center;
    position: absolute;
    right: 10px;
  }
  .mobile-full .mobile-header .mobile-right .icon {
    font-size: 30px;
    cursor: pointer;
  }
  .mobile-full .mobile-header .mobile-right .subscribe {
    padding: 5px 20px;
  }
  .mobile-full .mobile-content {
    background: white;
    min-height: 100px;
    overflow-y: scroll;
    padding: 20px;
  }
  .mobile-full .mobile-content form {
    display: flex;
    align-items: center;
    width: 100%;
  }
  .mobile-full .mobile-content form input {
    width: 90%;
    padding: 5px;
    margin-right: -1px;
  }
  .mobile-full .mobile-content form button {
    padding: 7px;
    width: 10%;
    background: black;
    box-shadow: none;
    border: none;
  }
  .mobile-full .mobile-content form button i {
    color: white;
  }
  .mobile-full .mobile-content .menu-list {
    list-style: none;
    padding: 0px 0px;
    margin-bottom: 0px;
  }
  .mobile-full .mobile-content .menu-list .menu-item {
    padding: 5px 0;
  }
  .mobile-full .mobile-content .menu-list .menu-item a {
    color: black;
    font-size: 17px;
  }
  .mobile-full .mobile-content .social a {
    font-size: 30px;
    padding: 5px;
  }
  .mobile-full .mobile-content .list-drop .dropdown-item {
    display: inline;
  }
  .mobile-full .mobile-content .list-drop .dropdown-item:first-child {
    padding-left: 0px;
  }
}
#container-all {
  max-width: 970px;
  margin: -1px auto 0;
  overflow: hidden;
}

.carousel-inner img {
  width: 100%;
  z-index: 1;
}

.carousel-indicators {
  position: absolute;
  top: 5px;
  height: 0px;
  margin-bottom: 0px;
  margin-right: -85%;
  margin-left: auto;
}

.carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 50px !important;
  border-top: none;
  border-bottom: none;
}

#home {
  padding: 0px;
}

#wrap-content {
  max-width: 970px;
  margin: -1px auto 0;
  padding: 15px 0px 45px 0px;
  min-height: 500px;
}
#wrap-content .qc-1 {
  padding-top: 10px;
}
#wrap-content .qc-1 img {
  max-width: 100%;
}

.home-lasted {
  position: relative;
  padding: 15px 0px;
}
.home-lasted .qc-2 {
  position: absolute;
  margin-top: 15px;
}
.home-lasted .qc-2 img {
  max-width: 200px;
}
.home-lasted .qc-2-left {
  left: -200px;
}
.home-lasted .qc-2-right {
  right: -200px;
}
.home-lasted .home-item-article {
  padding: 15px 0px;
  text-align: center;
}
.home-lasted .home-item-article .item-image {
  border: 1px solid #f1a4a033;
}
.home-lasted .home-item-article .item-image img {
  width: 100%;
}
.home-lasted .home-item-article .item-text .item-cat {
  text-transform: uppercase;
  padding: 10px;
  margin: 0px;
  font-size: 16px;
  color: black;
  font-weight: bold;
}
.home-lasted .home-item-article .item-text .item-title {
  font-size: 17px;
  font-weight: 400;
  overflow: hidden;
}
.home-lasted .home-item-article .item-text .item-date {
  font-size: 12px;
  color: #808080;
  margin: 0;
}
.home-lasted .btn-more {
  position: relative;
  padding: 10px 0px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-bottom: none;
}
.home-lasted .btn-more p {
  position: absolute;
  width: 200px;
  margin: 0 auto;
  background-color: #fe0000;
  text-align: center;
  left: 50%;
  margin: -8px 0 0 -100px;
  z-index: 0;
  cursor: pointer;
}
.home-lasted .btn-more p .nextpage {
  color: white;
  font-size: 16px;
  letter-spacing: 0.1em;
  display: block;
}
.home-lasted .btn-more span {
  padding: 6px;
  position: absolute;
  top: 20px;
  background-color: #fe0000;
  left: 50%;
  margin-left: -7px;
  transform: rotate(45deg);
  z-index: -1;
}

.home-most {
  position: relative;
  padding: 15px 5px;
}
.home-most .qc-3-right {
  position: absolute;
  right: 0;
}
.home-most .qc-3-right img {
  max-width: 210px;
}
.home-most .qc-3-left {
  position: absolute;
  left: 0;
}
.home-most .qc-3-left img {
  max-width: 210px;
}
.home-most .home-most-title {
  font-family: Oranienbaum, Georgia, serif;
  text-transform: uppercase;
  font-size: 2rem;
  text-align: center;
  font-weight: 400;
  margin: 0;
}
.home-most .home-most-list {
  padding: 20px;
  max-width: 500px;
  margin: 0 auto;
}
.home-most .home-most-list .home-most-article {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #808080;
  overflow: hidden;
  min-height: 75px;
  width: 100%;
  padding: 15px 0;
  position: relative;
}
.home-most .home-most-list .home-most-num {
  height: 50px;
  display: flex;
  align-items: center;
  color: #c6a971;
  font-size: 3.5rem;
  line-height: 2rem;
  float: left;
  width: 35px;
  margin-left: -30px;
}
.home-most .home-most-list .home-most-text {
  display: flex;
  align-items: center;
  height: 50px;
  max-width: 365px;
  margin-left: 35px;
}
.home-most .home-most-list .home-most-text h2 {
  float: left;
  font-size: 14px;
  text-transform: none;
  text-align: left;
  margin: 0;
  line-height: 1.3;
}
.home-most .home-most-list .home-most-image {
  position: absolute;
  right: 0;
  display: flex;
  align-items: center;
  margin-top: 50px;
  transform: translate(0%, -200%);
  width: 50px;
  height: 50px;
  border-radius: 25px;
  border: 1px solid #d08182;
  overflow: hidden;
  text-align: center;
}
.home-most .home-most-list .home-most-image img {
  display: block;
  max-width: 75px;
  margin-left: -13px;
  max-height: 50px;
  width: auto;
  height: auto;
}

.footer {
  position: relative;
  background-image: linear-gradient(to right, #d08182, #f7aba5, #ebbdb5, #f7aba5, #d08182);
  padding-bottom: 5px;
  min-height: 200px;
  text-align: center;
}
.footer .logo-footer {
  border-bottom: none;
  padding: 10px 0px;
}
.footer .logo-footer img {
  height: 70px;
}
.footer .footer-txt {
  color: white;
  font-size: 15px;
  letter-spacing: 0.05em;
  line-height: 1.6em;
  padding-top: 0px;
  margin-top: 10px;
  text-transform: none;
}
.footer .footer-txt .phonemail {
  font-weight: 500;
  font-size: 15px;
}
.footer .footer-txt .address {
  font-size: 13px;
}
.footer .footer-txt .copyright {
  font-size: 10px;
  margin: 0px;
}
.footer .footer-txt a {
  color: white;
}
.footer .footer-txt p {
  padding: 0px;
}
.footer .footer-txt p a {
  margin: 0 5px;
}
.footer .footer-count {
  position: absolute;
  top: 10px;
  right: 10px;
}

.hr {
  position: relative;
  z-index: 0;
  text-align: center;
  padding-bottom: 15px;
}
.hr:after {
  content: "";
  position: absolute;
  left: 50%;
  margin-left: -25px;
  bottom: 0;
  width: 50px;
  border-bottom: 2px solid black;
}

.hr-left {
  position: relative;
  z-index: 0;
  text-align: left;
  padding-bottom: 15px;
}
.hr-left:after {
  content: "";
  position: absolute;
  width: 50px;
  border-bottom: 2px solid black;
}

.scroll {
  display: none;
  cursor: pointer;
  position: fixed;
  right: 30px;
  bottom: 0;
  z-index: 100;
  background: rgba(1, 1, 1, 0.6);
  border-radius: 5px;
}
.scroll i {
  font-size: 22px;
  color: white;
  padding: 10px 12px;
}

.admobile {
  display: none;
}

@media only screen and (min-device-width: 769px) and (max-device-width: 900px) {
  #home {
    padding: 0px 5px;
  }

  .home-lasted .row {
    margin-left: 0px;
    margin-right: 0px;
  }

  .home-most .home-most-list {
    padding: 20px 40px;
  }
  .home-most .home-most-list .home-most-article {
    width: 85%;
  }
  .home-most .home-most-list .home-most-image {
    display: none;
  }
}
@media only screen and (max-width: 768px) {
  .admobile {
    display: block;
  }

  .addesktop-mobile {
    display: none;
  }

  .carousel-inner img {
    width: 100%;
    height: auto;
    z-index: 1;
  }

  #home {
    padding: 0px 0px;
  }

  #wrap-content {
    padding: 15px 5px 45px 5px;
  }

  .header-wrapper {
    padding: 0px 5px;
  }

  .home-most .home-most-list .home-most-text {
    max-width: 270px;
  }
  .home-most .qc-3-right {
    display: none;
  }
  .home-most .qc-3-left {
    display: none;
  }

  .home-lasted .row {
    margin-left: 0px;
    margin-right: 0px;
  }
  .home-lasted .qc-2 {
    display: none;
  }

  .footer .footer-count {
    position: absolute;
    top: 0px;
    right: 10px;
  }
  .footer .logo-footer {
    padding-top: 110px;
  }
  .footer .logo-footer img {
    height: 70px;
  }
}
@media only screen and (max-width: 376px) {
  .home-most .home-most-list .home-most-text {
    max-width: 210px;
  }
  .home-most .qc-3-right {
    display: none;
  }
  .home-most .qc-3-left {
    display: none;
  }

  .home-lasted .row {
    margin-left: 0px;
    margin-right: 0px;
  }
  .home-lasted .qc-2 {
    display: none;
  }
}
.category {
  text-align: center;
}
.category .cat-header {
  font-size: 22px;
}
.category .cat-search {
  font-size: 22px;
  font-weight: 550;
}
.category .sub-menu {
  margin: 20px 0px;
}
.category .sub-menu ul {
  padding: 0px;
}
.category .sub-menu ul li {
  display: inline;
  padding: 5px 10px;
}
.category .sub-menu ul li a {
  font-weight: 500;
  font-size: 13px;
}
.category .sub-menu ul .active a {
  padding-bottom: 2px;
  border-bottom: 2px solid #fe0000;
  font-weight: 600;
}
.category .cat-article-wrap {
  margin: 0 auto;
  max-width: 800px;
  padding: 10px 10px;
  text-align: left;
}
.category .cat-article-wrap .cat-article {
  margin: 30px;
}
.category .cat-article-wrap .cat-article .cat-article-left .post-image {
  min-height: 100px;
}
.category .cat-article-wrap .cat-article .cat-article-left .post-image img {
  border: 1px solid #d08182;
  width: 100%;
}
.category .cat-article-wrap .cat-article-right {
  width: 630px;
}
.category .cat-article-wrap .cat-article-right .cat-article-top {
  padding: 10px 0px;
}
.category .cat-article-wrap .cat-article-right .cat-article-top .cat-title {
  font-size: 13px;
  color: #d08182;
  font-weight: 600;
}
.category .cat-article-wrap .cat-article-right .cat-article-top .post-title {
  padding-top: 5px;
  font-size: 16px;
  font-weight: 500;
}
.category .cat-article-wrap .cat-article-right .cat-article-top .post-caption {
  color: #808080;
  font-size: 14px;
  font-weight: 300;
  padding-bottom: 30px;
}
.category .cat-article-wrap .cat-article-right .cat-article-bottom {
  position: absolute;
  bottom: 1px;
}
.category .cat-article-wrap .cat-article-right .cat-article-bottom span {
  color: #808080;
  font-size: 12px;
}

.page-item:focus {
  box-shadow: none;
}

.page-link {
  z-index: 2;
  color: black;
  text-decoration: none;
}
.page-link:hover {
  color: black;
}

.page-item.active .page-link {
  z-index: 3;
  color: white;
  background-color: #d08182;
  border-color: #d08182;
}

.page-link:focus {
  box-shadow: none !important;
  border-color: transparent !important;
}

@media only screen and (max-width: 768px) {
  .category .cat-article-wrap .cat-article-right .cat-article-bottom {
    position: relative;
  }
}
.post .post-wrapper {
  margin: 0 auto;
  max-width: 800px;
  padding: 10px 20px;
  text-align: left;
}
.post .post-wrapper .post-header .post-cat-title {
  font-size: 15px;
  font-weight: 500;
  color: #d08182;
}
.post .post-wrapper .post-header .post-title {
  padding: 10px 0;
  font-size: 2.2rem;
  font-weight: bold;
}
.post .post-wrapper .post-header .post-caption {
  color: black;
  padding-bottom: 1rem;
  font-size: 20px;
  font-weight: 500;
}
.post .post-wrapper .post-content {
  text-transform: none;
  padding: 20px 5px 40px;
}
.post .post-wrapper .post-content img {
  max-height: 650px;
  margin: 10px 0px;
  max-width: 100%;
  width: auto;
}
.post .post-wrapper .post-content p {
  margin-bottom: 0rem;
  font-size: 19px;
  line-height: 1.5;
  font-weight: 470;
}
.post .post-wrapper .post-content dl, .post .post-wrapper .post-content ol, .post .post-wrapper .post-content ul {
  font-weight: 700;
  padding-left: 15px;
  font-size: 19px;
}
.post .post-wrapper .post-content li a {
  font-size: 20px;
}
.post .post-wrapper .post-content table {
  border: none;
}
.post .post-wrapper .post-content table tr td {
  padding: 5px;
  vertical-align: top;
}
.post .post-wrapper .post-content sub, .post .post-wrapper .post-content sup, .post .post-wrapper .post-content em {
  top: -1.1em;
}
.post .post-list {
  margin: 10px;
  padding: 30px 30px;
  border: 1px solid #f1a4a033;
  text-transform: none;
}
.post .post-list h2 {
  font-size: 26px;
}
.post .post-list .date {
  font-size: 12px;
  color: #808080;
}
.post .post-list img {
  max-width: 100%;
}
.post .post-list .caption {
  padding: 20px 0px;
  font-size: 18px;
  font-weight: 500;
}
.post .post-list .btn-detail {
  padding: 7px 20px;
  background: #f1a4a033;
  color: black;
}

@media only screen and (max-width: 768px) {
  .post .post-list img {
    width: 100%;
    height: auto;
  }
  .post .post-wrapper .post-content img {
    width: 100% !important;
    height: auto !important;
  }
}
.subscribe h2 {
  font-size: 18px;
  font-weight: bold;
}
.subscribe table,
.subscribe th, .subscribe td {
  border: 1px solid black;
  border-collapse: collapse;
}
.subscribe table {
  border-top: 3px solid #d08182;
  width: 100%;
  margin: 20px 0px;
}
.subscribe td {
  font-size: 15px;
  padding: 5px 10px;
}
.subscribe tr {
  min-height: 100px;
}
.subscribe tr > td:first-child {
  background: #d08182;
  width: 30%;
  font-weight: bold;
  color: white;
}
.subscribe select {
  margin: 4px;
  padding: 7px;
  color: #808080;
}
.subscribe input {
  margin: 4px;
  padding: 4px;
}
.subscribe .span {
  font-size: 13px;
  color: #808080;
}
.subscribe .noti {
  text-align: center;
}
.subscribe .noti p {
  font-size: 14px;
  color: #808080;
}
.subscribe .noti .btn-noti {
  width: 80px;
  background: white;
  border: 1px solid #d08182;
}
.subscribe .error {
  color: #fe0000;
  margin: 3px;
}

.error-page {
  padding-top: 20%;
  text-align: center;
  height: 500px;
}
.error-page h1 {
  color: #fe0000;
}
.error-page p a {
  color: #d08182;
}

.about {
  color: black;
  font-weight: 550;
  padding: 50px 10px;
}
.about img {
  width: 100%;
}

#idol .row {
  margin-right: 0px;
  margin-left: 0px;
}
#idol .wrap-rank {
  height: 400px;
  overflow-y: auto;
}
#idol .wrap-rank::-webkit-scrollbar {
  width: 5px;
  /* width */
}
#idol .wrap-rank::-webkit-scrollbar-track {
  background: #808080;
  /* Track */
}
#idol .wrap-rank::-webkit-scrollbar-thumb {
  background: #d08182;
  /* Handle */
}
#idol .wrap-rank::-webkit-scrollbar-thumb:hover {
  background: black;
  /* Handle on hover */
}
#idol .wrap-rank .item-rank {
  padding: 5px 5px;
  margin-right: 0px;
  margin-left: 0px;
  align-items: center;
  border-top: 1px solid #d08182;
}
#idol .wrap-rank .item-rank .num-rank {
  padding-left: 0px;
  text-align: center;
  color: #404040;
  font-size: 23px;
}
#idol .wrap-rank .item-rank .img-rank {
  padding-left: 0px;
  width: 43px;
  height: 55px;
}
#idol .wrap-rank .item-rank .img-rank img {
  max-height: 100%;
}
#idol .wrap-rank .item-rank .name-rank {
  padding-left: 0px;
}
#idol .wrap-rank .item-rank .name-rank a {
  font-size: 14px;
}
#idol .wrap-rank .item-rank .name-rank a:hover {
  color: #d08182;
}
#idol .wrap-rank .item-rank .result-rank {
  padding: 0px;
}
#idol .wrap-rank .item-rank .first {
  color: #d08182;
  font-weight: bold;
}
#idol .wrap-rank .item-rank .second, #idol .wrap-rank .item-rank .third {
  color: black;
  font-weight: 600;
}

#ranking {
  font-size: 14px;
}
#ranking table th {
  vertical-align: middle;
  padding: 5px 0px;
}
#ranking table td {
  vertical-align: middle;
  min-height: 30px;
}
#ranking table .num-rank {
  font-size: 20px;
  text-align: center;
  font-weight: bold;
}
#ranking table .img-rank img {
  height: 55px;
  max-height: 100%;
}
#ranking table .btn-bp {
  background-color: #d08182;
  color: white;
}

#listidol .listidol-search {
  align-items: center;
  padding: 10px;
  margin: 0px;
  border-radius: 5px;
  background: #d08182;
}
#listidol .listidol-search .btn, #listidol .listidol-search button, #listidol .listidol-search input, #listidol .listidol-search .form-control {
  border: 1px solid white;
}
#listidol .listidol-search .btn:focus, #listidol .listidol-search button:focus, #listidol .listidol-search input:focus, #listidol .listidol-search .form-control:focus {
  outline: none !important;
  box-shadow: inset 0 0px 0 #d08182;
}
#listidol .listidol-search .btn {
  color: white;
}
#listidol .listidol-search .btn-group .btn, #listidol .listidol-search .btn-group button {
  border: none;
  color: white;
}
#listidol .listidol-idol {
  margin-top: 15px;
  margin-bottom: 15px;
  margin-right: 0px;
  margin-left: 0px;
}
#listidol .listidol-idol .item-idol-hover {
  margin-top: 15px;
  padding: 5px;
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
}
#listidol .listidol-idol .item-idol-hover:hover {
  -webkit-transform: scale(1.11) rotate(0.01deg);
  transform: scale(1.11) rotate(0.01deg);
}
#listidol .listidol-idol .item-idol {
  border: 1px solid #eee;
  background: #eee;
  padding: 2px 2px 5px 2px;
}
#listidol .listidol-idol .item-idol img {
  max-width: 100%;
}
#listidol .listidol-idol .item-idol .box-idol {
  position: relative;
  padding: 5px;
  text-align: center;
  min-height: 120px;
}
#listidol .listidol-idol .item-idol .box-idol .name-idol {
  font-weight: 700;
  font-size: 16px;
  color: black;
  margin-top: 7px;
}
#listidol .listidol-idol .item-idol .box-idol .group-idol {
  font-weight: 500;
  font-size: 15px;
  color: #808080;
  margin-top: 7px;
}
#listidol .listidol-idol .item-idol .box-idol .like-idol {
  font-weight: 500;
  font-size: 15px;
  color: #d08182;
  margin-top: 7px;
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translate(-50%, -50%);
}

#detailidol .idol-detail .idol-profile {
  background: #eee;
  padding: 15px;
}
#detailidol .idol-detail .idol-profile .pro-header {
  position: relative;
  color: black;
}
#detailidol .idol-detail .idol-profile .pro-header h3 {
  font-size: 22px;
}
#detailidol .idol-detail .idol-profile .pro-header .pro-question {
  position: absolute;
  top: 0px;
  right: 0px;
  cursor: pointer;
}
#detailidol .idol-detail .idol-profile .pro-box .pro-list {
  line-height: 27px;
  font-size: 14px;
}
#detailidol .idol-detail .idol-profile .pro-box .pro-list .pro-key {
  display: inline-block;
  min-width: 70px;
  color: #808080;
  font-weight: 600;
}
#detailidol .idol-detail .idol-profile .pro-box .pro-list .pro-value {
  display: inline-block;
  color: black;
  font-weight: 700;
  padding-left: 10px;
}
#detailidol .idol-detail .detail-top {
  position: relative;
}
#detailidol .idol-detail .detail-top .detail-background {
  position: relative;
  z-index: 1;
}
#detailidol .idol-detail .detail-top .detail-background img {
  width: 100%;
}
#detailidol .idol-detail .detail-top .mo {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
#detailidol .idol-detail .detail-top .detail-img {
  position: absolute;
  z-index: 10;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
#detailidol .idol-detail .detail-top .detail-img img {
  border-radius: 5px;
}
#detailidol .idol-detail .detail-top .detail-img .name {
  font-size: 23px;
  color: white;
}
#detailidol .idol-detail .detail-top .detail-img .agency {
  font-size: 21px;
  color: #eee;
}
#detailidol .idol-detail .detail-top .detail-vote {
  position: absolute;
  z-index: 10;
  right: 0px;
  top: 10px;
  margin-right: 30px;
}
#detailidol .idol-detail .detail-top .detail-vote a {
  color: white;
}
#detailidol .idol-detail .detail-top .detail-vote a i {
  font-size: 19px;
}
#detailidol .idol-detail .detail-top .detail-vote .btn-vote {
  border: 2px solid white;
  border-radius: 30px;
  padding: 0px 5px 3px 5px;
  cursor: pointer;
}
#detailidol .idol-detail .detail-top .detail-vote .btn-voted {
  border: 2px solid #d08182;
  color: #d08182;
  border-radius: 30px;
  padding: 0px 5px 3px 5px;
}
#detailidol .idol-detail .detail-top .detail-vote .btn-voted-i i {
  color: #d08182;
}
#detailidol .idol-detail .detail-top .detail-tab {
  position: absolute;
  bottom: 0px;
  z-index: 10;
  width: 100%;
  height: 70px;
  align-items: center;
}
#detailidol .idol-detail .detail-top .detail-tab .tab-bot {
  display: inline-block;
  width: 45%;
  text-align: center;
  color: white;
  font-size: 20px;
}
#detailidol .idol-detail .detail-bottom {
  position: relative;
  margin: 15px 0px;
}
#detailidol .idol-detail .detail-bottom .detail-item {
  background-color: rgba(0, 0, 0, 0.2);
  padding: 0px;
  text-align: center;
  overflow: hidden;
}
#detailidol .idol-detail .detail-bottom .detail-item img {
  width: 100%;
}

.modal-header .close {
  margin-top: -1.5rem;
}

.social-buttons .btn {
  margin: 0 0.5rem 1rem;
}

#breadcrumb {
  position: relative;
}
#breadcrumb .dropdown {
  cursor: pointer;
  right: 5px;
  position: absolute;
  top: 9%;
}
#breadcrumb .dropdown img {
  width: 40px;
  border-radius: 40px;
}
#breadcrumb .dropdown span {
  font-size: 12px;
}
#breadcrumb .dropdown .bread-right i {
  border: 1px solid black;
  padding: 10px 12px;
  border-radius: 25px;
}

@media only screen and (max-width: 800px) {
  #detailidol .idol-detail .detail-top .detail-background img {
    height: 550px;
  }

  #ranking table .num-rank {
    text-align: left;
  }

  /* Force table to not be like tables anymore */
  #no-more-tables table,
#no-more-tables thead,
#no-more-tables tbody,
#no-more-tables th,
#no-more-tables td,
#no-more-tables tr {
    display: block;
  }

  /* Hide table headers (but not display: none;, for accessibility) */
  #no-more-tables thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  #no-more-tables tr {
    border: 1px solid #ccc;
  }

  #no-more-tables td {
    /* Behave  like a "row" */
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 40%;
    white-space: normal;
    text-align: left;
  }

  #no-more-tables td:before {
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
    text-align: left;
    font-weight: bold;
  }

  /*
  Label the data
  */
  #no-more-tables td:before {
    content: attr(data-title);
  }
}
.header-wrapper {
  position: relative;
}

.goog-logo-link {
  display: none !important;
}

.goog-te-gadget {
  color: transparent !important;
}

#google_translate_element {
  height: 10px;
  z-index: 9;
  float: right;
  margin-top: -28px;
}
#google_translate_element select {
  padding: 5px;
  border-radius: 0px;
  border: 1px solid black;
  background: black;
  color: white;
}

#menufixed #google_translate_element {
  display: none;
}

@media only screen and (max-width: 768px) {
  body {
    top: 0px !important;
  }

  #google_translate_element {
    position: fixed;
    bottom: 30px;
    left: 0px;
    z-index: 9;
  }

  .goog-te-banner-frame {
    height: 0px !important;
    z-index: 1 !important;
    border: none;
  }

  .goog-te-banner {
    display: none !important;
  }
}

/*# sourceMappingURL=index.css.map */
