.post {
    .post-wrapper {
        margin: 0 auto;
        max-width: 800px;
        padding: 10px 20px;
        text-align: left;
        .post-header {
            .post-cat-title {
                font-size: 15px;
                font-weight: 500;
                color: $color-title;
            }
            .post-title {
                padding: 10px 0;
                font-size: 2.2rem;
                font-weight: bold;
            }
            .post-caption {
                color: $color-text;
                padding-bottom: 1rem;
                font-size: 20px;
                font-weight: 500;
            }
        }
        .post-content {
            text-transform: none;
            padding: 20px 5px 40px;
            img {
                max-height: 650px;
                margin: 10px 0px;
                max-width: 100%;
                width: auto;
                // width: 100%;
                // height: auto;
            }
            p {
                margin-bottom: 0rem;
                font-size: 19px;
                line-height: 1.5;
                font-weight: 470;
            }
            dl, ol, ul {
                font-weight: 700;
                padding-left: 15px;
                font-size: 19px;
            }
            li a {
                font-size:  20px;
            }
            table {
                border: none;
                tr {
                    td {
                        padding: 5px;
                        vertical-align: top;
                    }
                }
            }
            sub, sup, em {
                top: -1.1em;
                // font-size: 14px;
            }
        }

    }
    .post-list {
        margin: 10px;
        padding: 30px 30px;
        border: 1px solid $color-btn;
        text-transform: none;
        h2 {
            font-size: 26px;
        }
        .date {
            font-size: 12px;
            color: $color-border;
        }
        img {
            max-width: 100%;
        }
        .caption {
            padding: 20px 0px;
            font-size: 18px;
            font-weight: 500;
        }
        .btn-detail {
            padding: 7px 20px;
            background: $color-btn;
            color: $color-text;
        }
    }
}
@media only screen and (max-width: 768px) {
    .post {
        .post-list {
            img {
                width: 100%;
                height: auto;
            }
        }
        .post-wrapper {
            .post-content {
                img {
                    // max-height: 350px;
                    // width: auto;
                    // width: 100%;
                    // height: auto;
                    width: 100% !important;
                    height: auto !important;
                }
            }
        }
    }
}